h1 {
    color: white;
    
    font-family: 'Courier New', Courier, monospace;
    padding: 100px;
    margin: 30px;
    border-radius: 3px;
    font-size:30px

}

body{background-color: #606060;}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}